* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
}

.wrapper {
    margin: auto;
}

div div {
    margin: 30px;
}

p {
    margin: 10px;
}

h2 {
    font-size: 15px;
}

h1 {
    color: blue;
}